@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;

  display: grid;
  grid-template-areas:
    "header header header header header"
    "nav nav nav nav nav"
    ". main main main ."
    ". main main main ."
    ". main main main ."
    ". footer footer footer ."
    "bottom bottom bottom bottom bottom";
  grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 15vh 5vh 1fr 1fr 1fr 5vh 5vh;
}

@media screen and (max-width: 800px) {
  body {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer"
      "bottom";
    grid-template-rows: 20vh 5vh auto 5vh 5vh;
    grid-template-columns: 100%;
  }

  header {
    h1 {
      font-size: 1.75rem;
    }

    h2 {
      font-size: 1.25rem;
    }
  }
}

header {
  grid-area: header;
  @include center();
  flex-direction: column;

  background-color: darken($color: #272727, $amount: 5);

  h1,
  h2 {
    margin: 0.25rem 0;
  }
}

main {
  grid-area: main;
  @include center();
  flex-direction: column;
  margin: 1rem 0rem;
}

footer {
  grid-area: footer;

  @include center();
  flex-direction: column;
}

#bottom {
  grid-area: bottom;
  display: inline-block;
  margin: auto auto;
  text-align: center;
}