@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$bg: #242424;
$red: #ff2801;
$yellow: #ffbe22;
$green: #44a428;
$light-blue: #00a6d4;
$dark-blue: #0080a6;
$white: #f6f6f6;
$light-grey: #383838;
$box-size: 3rem;
$title_buffer: 5vw;
$card-radius: 1rem;

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s;
  width: 60vw;
  height: 105%;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: $box-size;
  height: $box-size;
  font-size: xx-large;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
  }
}

.toggleSlide {
  position: absolute;
  top: 0;
  right: $title_buffer;
}

#changeTheme {
  position: absolute;
  bottom: 0;
  right: 0;
}

.title {
  height: $box-size;
  margin: 0 $title_buffer;
  background-color: $green;

  div {
    height: $box-size;
    width: 20%;
    display: flex;
    align-items: center;
  }
}

a#bottom {
  color: $light-blue;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  text-decoration: none;
  border: 3px solid $light-blue;

  :hover {
    color: $dark-blue;
    border: 3px solid $dark-blue;
  }
}

.profile {
  position: relative;
  margin: 2vh auto;
  display: grid;
  grid-template-areas: ". image id . left right .";
  grid-template-columns: 0.5fr 5fr 5fr 3fr 3fr 5fr 2.5fr;
  height: 20vh;

  img {
    grid-area: image;
    width: auto;
    height: 100%;
    position: absolute;
    right: 1rem;
  }

  div:not(.image) {
    grid-area: id;
    margin: auto 0;

    h3 {
      color: $light-blue;
    }
  }

  ul {
    margin: auto 0;
    list-style: none;

    &.left {
      grid-area: left;
      text-align: right;
      padding-right: 0.5rem;
    }

    &.right {
      grid-area: right;
      text-align: left;
    }
  }
}

.resume,
.portfolio,
.contacts {
  position: relative;

  .content {
    height: 100%;
  }
}

.resume>.content {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: 2fr 3fr;
  margin-top: -5px;

  .aside {
    grid-area: aside;
    display: grid;
    grid-template-areas:
      "education"
      "qualification";
    grid-template-columns: repeat(2, 1fr);
    background-color: $green;
    width: 60%;
    padding: 0.5rem 0 0 2vw;
    margin: 0 0 0 7vw;

    .education {
      grid-area: education;
    }

    .qualifications {
      margin: 2rem 0;
      grid-area: qualification;

      ol,
      ul {
        margin-left: 2.5rem;
      }
    }
  }

  .main {
    grid-area: main;
    display: grid;
    width: 100%;
    padding-top: 0.5rem;

    hr {
      margin: 3px 0;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5rem 2rem;
      margin: 0px 7vw 3px -2.6vw;

      .job {
        ul {
          margin-left: 2.5rem;
        }
      }

      ul {
        margin-left: 2.5rem;
      }
    }
  }
}

.portfolio {
  .title {
    background-color: $yellow;
  }
}

.contacts {
  .title {
    background-color: $red;
  }
}

.portfolio>.content,
.contacts>.content {
  display: none;
  margin: 0 7vw;
  flex-direction: row;
  flex-wrap: wrap;

  .card {
    margin: 0.25rem 0;
    display: flex;
    flex-direction: column;
    float: left;
    width: calc(100vw / 4.5);

    .card-header {
      padding: 0.75rem 0.5rem 0.5rem 0.5rem;
      border-top-right-radius: $card-radius;
      border-top-left-radius: $card-radius;
    }

    .card-img {
      width: 100%;
      display: flex;
      align-content: center;
      justify-content: center;

      img {
        height: 15vw;
        width: 15vw;
      }
    }

    .card-body {
      padding: 0.5rem 0.5rem 1rem 0.5rem;
      border-bottom-right-radius: $card-radius;
      border-bottom-left-radius: $card-radius;
      text-align: center;

      a {
        color: $light-blue;

        :hover {
          color: $dark-blue;
        }
      }
    }
  }
}

.portfolio>.content {
  .card>.card-header {
    background-color: $yellow;
  }
}

.contacts>.content {
  .card>.card-header {
    background-color: $red;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    width: 90vw;
  }

  .profile {
    grid-area: profile;
    margin: 2vh auto;
    margin-bottom: 5vh;
    display: grid;
    grid-template-areas:
      "image id"
      "left right";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    img {
      right: 0.5rem;
    }
  }

  .title {
    height: $box-size;

    div {
      height: $box-size;
      width: 25%;
      display: flex;
      align-items: center;
      padding: 0 1vw;
      font-size: x-large;
    }
  }

  #changeTheme {
    position: absolute;
    bottom: -10%;
    right: -30%;
  }

  .resume>.content {
    .main {
      .card {
        margin: 0px 7vw 3px -7.4vw;
      }
    }
  }

  .portfolio>.content,
  .contacts>.content {
    .card {
      width: calc(100vw / 2.85);
    }
  }
}