$bg: #e9fcff;
$red: #ff2801;
$yellow: #ffbe22;
$green: #44a428;
$dark: #929292;
$light-grey: #383838;
$white: #f6f6f6;
$box-size: 3rem;
$title_buffer: 5vw;

::-webkit-scrollbar-track {
  background: lighten($dark, 10%);
}

::-webkit-scrollbar-thumb {
  background: darken($dark, 10%);
}

body {
  background-color: $bg;
  color: $light-grey;
}

button {
  background-color: $bg;
  border: 2px solid $light-grey;
  color: $light-grey;

  &:hover {
    background-color: darken($bg, 10%);
  }
}

.resume>.content {
  .aside {
    background-color: $green;
    color: $white;
  }

  .main {

    .card:nth-of-type(2),
    .card:nth-of-type(4) {
      color: $light-grey;
      background-color: #d0d0d0;
    }
  }
}