{% extends "base.html" %}

{% block title %}
Goodbye, Dear Friend
{% endblock %}

{% block content %}
  {% if person.firstName != "" and person.lastName != "" %}
    <h1>Goodbye, {{ person.firstName }} {{ person.lastName }}!</h1>
  {% else %}
    <h1>Goodbye, good sir!</h1>
  {% endif %}


  {% if msg != "" %}
    <h2>{{ msg }}</h2>
  {% else %}
    <h2>It is sad to see you go!</h2>
  {% endif %}

  <form method="post" id="form_id">
    {% csrf_token %}
    <label for="firstName">First Name</label><br>
    <input type="text" required="" name="firstName" maxlength="150" id="firstName" autofocus=""><br>
    <label for="lastName">Last Name</label><br>
    <input type="text" required="" name="lastName" maxlength="150" id="lastName" autofocus=""><br>
    <button type="submit">Clear</button>
  </form>

  {% block scripts %}
    {% load static %}
    <script src="{% static 'scripts/javascript.js' %}"></script>
  {% endblock scripts %}
{% endblock %}